.page-title-box {
  border-top: 1px solid $light-gray;

  .page-title {
    margin-bottom: 0px;
    width: 500px;
    max-width: 100%;
    font-size: 30px;
    line-height: 52px;
    color: $red;
  }

  @media only screen and (max-width: $mobile) {
    padding: 40px 0;

    .page-title {
      margin: 10px 0;
      font-size: 47px;
      line-height: 53px;
    }
  }
}

.page__head {

  .page-image {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &:after {
      content: "";
      display: table;
      width: 100%;
      min-height: 300px;
      padding-top: 50%;
    }
  }
}

.page {
  margin: auto;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
  padding: 50px;

  img {
    margin: 30px 0;
  }

  @media only screen and (max-width: $tablet) {
    margin: 40px auto;
  }
}

.page-box {
  text-align: center;

  .back-arrow {
    a {
      display: inline-block;
      margin-left: 10px;
      color: $dark;
      font-weight: 700;
      &:hover {
        color: $black;
      }
    }
  }
}
