.arhive-head {
  padding: 20px 0;
  margin-bottom: 10px;


  .archive-title {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: $red;
    span {
      font-weight: 700;
    }
  }

.tag {
  font-weight: bold;
  color: $light-red;
  text-transform: uppercase;
  display: inline-block;
  padding: 3px;
  margin: 0 5px 5px 0;
  text-decoration: none;
  background: $background-color;
  border-radius: 3px;
  box-shadow: 0 1px 4px $border-color;
  

}
  @media only screen and (max-width: $mobile) {
    margin-bottom: 10px;
  }
}
