
<ul class="tags">
{% for vtag in site.data.tags.validtags %}

    <a href="{{ site.baseurl }}/tag/{{ vtag | slugize }}" class="tag"> 
       {{ vtag | slugize }} ({{ site.tags[vtag].size }})

    </a>  

{% endfor %}
</ul>



{% for vtag in site.data.tags.validtags %}
    
    <a href="{{ site.baseurl }}/tag/{{ vtag | slugize }}" class="tag">
         {{ vtag | slugize }} <span>({{ site.tags[vtag].size }})</span>
    </a>

  <ul>
  {% for post in site.tags[vtag] %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%Y-%m-%d"  }}</span>
      </li>

  {% endfor %}
  </ul>

{% endfor %}


